.embla {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
} 
.embla__button {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  color: black;
}
.embla__button--prev {
  left: 1rem;
}
.embla__button--next {
  right: 1rem;
}
.embla__button:disabled {
  opacity: 0.3;
  cursor: default;
}
.embla__button__svg {
  width: 2rem;
  height: 2rem;
}

.embla__dots {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embla__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 0 0.25rem;
  cursor: pointer;
}
.embla__dot--selected {
  background-color: white;
} 